@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-5">Welcome to South Afica's Municipal Services</h1>
</div>

<div class="container my-5">
    <div class="text-center">
        <h2 class="display-6">Our Services</h2>
        <div style="height: 10px"></div>
        <div class="row text-center">
            <div class="col-md-6 mb-4">
                <h3>Report Issues</h3>
                <p>This service will allow you to notify the authorities about any problems in your area. With your input, our teams are able to understand and locate problems in your area and provide assistance. </p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDUKZHr9TCvfa9YL41MJSpj2BLjKuA-oZHew&s" >
            </div>

            <div class="col-md-6 mb-4">
                <h3>Local Events</h3>
                <p>This service will provide you with information about upcoming local events. You will be able to categorize your search for local events and find information regarding your interested event.</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPuDlhpyW8YWYIdUMsSSK8pEPBNw0QN7xstg&s">
            </div>

            <div class="col-md-6 mb-4">
                <h3>Service Request Status</h3>
                <p>This service will provide you with updates on the completion of your request. Here you can see the status of our team completing your request for a service.</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeQyq7Zj4Agv65DhgkglPj9t6dwIVcxTh2uQ&s">
            </div>

            <div class="col-md-6 mb-4">
                <h3>Provide your feedback</h3>
                <p>This service will allow you to tell us how you feel about our system. Each report will be considered and changes to the system will be made accordingly.</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbdsiuFO_3J4QU_rxdLkF92sytwjANUj-3dg&s">
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url('https://e1.pxfuel.com/desktop-wallpaper/8/898/desktop-wallpaper-light-colour-plain-backgrounds-light-grey-plain.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .custom-button {
        width: 200px;
        height: 50px;
        font-size: 18px;
        margin-top: 10px;
    }
</style>

<div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Flag_of_South_Africa.svg" alt="SA Flag" class="flag"/>
    <style>
        .flag {
            position: absolute;
            top: 40px;
            right: 10px;
            width: 100px; 
            height: auto;
        }
    </style>
    
    <img src="~/uploads/LOGO.png" alt="Muni Logo" class="logo" />
        <style>
            .logo {
                position: absolute;
                top: 120px;
                right: 10px;
                width: 100px;
                height: auto;
            }
        </style>  
</div>




<!--Huiculescu, A. (2017). ASP.NET MVC background image. [online] Stack Overflow. Available at: https://stackoverflow.com/questions/44438698/asp-net-mvc-background-image. [Accessed 7 September 2025]-->
<!--W3Schools (2019). HTML CSS. [online] W3schools.com. Available at: https://www.w3schools.com/html/html_css.asp. [Accessed 9 September 2025]-->
<!--Canva (2019). How to Create a Logo with Canva - Canva. [online] About Canva. Available at: https://www.canva.com/create/logos/ [Accessed 15 Oct. 2025].-->