@{
    ViewData["Title"] = "Report an Issue";
}

<div class="p-4 container">
    <h1 class="display-4 text-center">Report an Issue</h1>
    <p class="lead text-center">Use the button below to report any municipal issues you encounter.</p>
    <div class="d-flex justify-content-center">
        <a asp-controller="ReportIssues" asp-action="Create" class="btn btn-primary custom-button">Report Issue</a>
    </div>
</div>

<style>
    body {
        background-image: url('https://e1.pxfuel.com/desktop-wallpaper/8/898/desktop-wallpaper-light-colour-plain-backgrounds-light-grey-plain.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .custom-button {
        width: 200px;
        height: 50px;
        font-size: 18px;
        margin-top: 10px;
    }
</style>

<div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Flag_of_South_Africa.svg" alt="SA Flag" class="flag" />
    <style>
        .flag {
            position: absolute;
            top: 70px;
            right: 10px;
            width: 100px;
            height: auto;
        }
    </style>
</div>


